/*
 * basic select component
 */
/*
HTML template example:
<select>
  <option value="salade">salade</option>
  <option value="tomate">tomate</option>
  <option value="oignons">oignons</option>
</select>
 */

 select {
   width: 100%;
   min-width: 15ch;
   max-width: 30ch;
   font-size: map-get($map: $font-size, $key: "base");
   line-height: 1.1;
   padding: 0.25em 0.5em;
   background-color: $white;
   border: 1px solid $color-alpha;
   border-radius: $radius-small;
   cursor: pointer;
}
