.navbar{
    background-color: #F3E9F1;
}

.footerBottom{
    background-color: #F3E9F1;
}

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background: linear-gradient(
        135deg,
        #E78B06 0%,
        #B8718B 33%,
        #8F5BFE 100%
    );
    z-index: 99;
  }
  
#loader-image {
    z-index: 100;
}

.hide-loader{
    display:none;
}

/* linear-gradient(
  135deg,
  #E78B06 0%,
  #B8718B 33%,
  #8F5BFE 100%
);

linear-gradient(
  98.92deg,
  #8F5BFE 0%,
  #B8718B 29.95%,
  #E78B06 98.5%
); */