.checkout{

    &List{

        &--img{
            height: 50px;
            width: 50px;
            border-radius: $radius-small;
        }
    }

    &Total{
        width: 50%;
        margin-left: 50%;
    }
}